In [192]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
plt.style.use('ggplot');
!pip install "gensim==4.2.0"
!pip install "texthero==1.0.5"
#!pip install "gensim==3.8.1"
#!pip install -U gensim
#!pip install texthero
#!pip install "texthero==1.1.0"
!pip install Unidecode
#!pip install texthero -U
#!pip install--upgrade googletrans
#from googletrans import Translator
import nltk
nltk.download('stopwords')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim==4.2.0 in /usr/local/lib/python3.10/dist-packages (4.2.0)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (1.22.4)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (6.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: texthero==1.0.5 in /usr/local/lib/python3.10/dist-packages (1.0.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from texthero==1.0.5) (3.8.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from texthero==1.0.5) (1.2.2)
Requirement already satisfied: plotly-express in /usr/local/lib/python3.10/dist-packages (from texthero==1.0.5) (0.4.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (4.65.0)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.5.3)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (5.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (0.13.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.10.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (0.5.3)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->texthero==1.0.5) (3.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express->texthero==1.0.5) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express->texthero==1.0.5) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5->plotly-express->texthero==1.0.5) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=4.1.0->plotly-express->texthero==1.0.5) (8.2.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->plotly-express->texthero==1.0.5) (23.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Unidecode in /usr/local/lib/python3.10/dist-packages (1.3.6)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

The default pipeline for the clean method is the following:

fillna(s) Replace not assigned values with empty spaces.

lowercase(s) Lowercase all text.

remove_digits() Remove all blocks of digits.

remove_punctuation() Remove all string.punctuation (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~).

remove_diacritics() Remove all accents from strings.

remove_stopwords() Remove all stop words.

remove_whitespace() Remove all white space between words.

In [193]:
import texthero as hero

In [194]:
help(hero)

Help on package texthero:

NAME
    texthero - Texthero: python toolkit for text preprocessing, representation and visualization.

PACKAGE CONTENTS
    __about__
    clustering
    preprocessing
    representation
    statistics
    texthero
    version
    visualization

DATA
    stopwords = <WordListCorpusReader in '/root/nltk_data/corpora/stopword...

VERSION
    1.0.5

FILE
    /usr/local/lib/python3.10/dist-packages/texthero/__init__.py

In [195]:
df=pd.read_csv('train.csv')

In [196]:
df.shape

(12841, 17)

In [197]:
df.head()

,job title,office location,department,salary offered for the job,company information,job description,job requirements,benefits,telecommuting,company logo exist?,has_questions,employment_type,experience required,education required,industry,function,fake?
0,Videographer / Editor / Photographer,"GB, LND, Notting Hill",NaN,NaN,Dreamers &amp; Creators is a creative agency t...,The Videographer / Editor / Photographer will ...,Minimum 1 year experience as an videographer /...,NaN,0,1,1,Full-time,Not Applicable,Unspecified,Apparel & Fashion,Art/Creative,no
1,Supply Chain Manager,"GR, I, Kifisia",Wholesale,NaN,Η πρώτη στεγασμένη αγορά παραγωγών με παντοπωλ...,Buyer will be in charge of expanding our vendo...,Skills required:MS-Office excellentExperience ...,In private,0,1,1,NaN,NaN,NaN,NaN,NaN,no
2,Digital Project Manager,"US, CA, El Segundo",Product Development,NaN,ConsumerTrack is a technology-centric internet...,We are looking for a Digital Project Manager t...,2+ years of project management experience in w...,Competitive salary with excellent growth oppor...,0,1,1,NaN,NaN,NaN,NaN,NaN,no
3,Global Communications Manager,"GB, LND, London",Marketing,NaN,Founded in 2010 by a team from Google’s London...,"Qubit: Cutting Edge Big Data EngineeringQubit,...",Who You AreBy submitting your application you ...,Plenty of perksAs well as the opportunity to s...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Marketing,no
4,S3I Candidates,"LT, ,",All,NaN,NaN,Adform is a premier partner for media agencies...,DCO Team in Kaunas:Front End Developer #URL_82...,NaN,0,1,0,Full-time,NaN,NaN,Information Technology and Services,NaN,no

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12841 entries, 0 to 12840
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job title                   12841 non-null  object
 1   office location             12582 non-null  object
 2   department                  4581 non-null   object
 3   salary offered for the job  2089 non-null   object
 4   company information         10436 non-null  object
 5   job description             12841 non-null  object
 6   job requirements            10900 non-null  object
 7   benefits                    7596 non-null   object
 8   telecommuting               12841 non-null  int64
 9   company logo exist?         12841 non-null  int64
 10  has_questions               12841 non-null  int64
 11  employment_type             10313 non-null  object
 12  experience required         7755 non-null   object
 13  education required          6988 non-null   object
 14  industry                    9295 non-null   object
 15  function                    8182 non-null   object
 16  fake?                       12841 non-null  object
dtypes: int64(3), object(14)
memory usage: 1.7+ MB

In [199]:
df.isnull().sum()

job title                         0
office location                 259
department                     8260
salary offered for the job    10752
company information            2405
job description                   0
job requirements               1941
benefits                       5245
telecommuting                     0
company logo exist?               0
has_questions                     0
employment_type                2528
experience required            5086
education required             5853
industry                       3546
function                       4659
fake?                             0
dtype: int64

In [200]:
df.drop('salary offered for the job', inplace=True, axis='columns')
df.drop('department', inplace=True, axis='columns')
df.drop('benefits', inplace=True, axis='columns')
df.drop('experience required', inplace=True, axis='columns')
#df.drop('department', inplace=True, axis='columns')

In [201]:
df.head()

,job title,office location,company information,job description,job requirements,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?
0,Videographer / Editor / Photographer,"GB, LND, Notting Hill",Dreamers &amp; Creators is a creative agency t...,The Videographer / Editor / Photographer will ...,Minimum 1 year experience as an videographer /...,0,1,1,Full-time,Unspecified,Apparel & Fashion,Art/Creative,no
1,Supply Chain Manager,"GR, I, Kifisia",Η πρώτη στεγασμένη αγορά παραγωγών με παντοπωλ...,Buyer will be in charge of expanding our vendo...,Skills required:MS-Office excellentExperience ...,0,1,1,NaN,NaN,NaN,NaN,no
2,Digital Project Manager,"US, CA, El Segundo",ConsumerTrack is a technology-centric internet...,We are looking for a Digital Project Manager t...,2+ years of project management experience in w...,0,1,1,NaN,NaN,NaN,NaN,no
3,Global Communications Manager,"GB, LND, London",Founded in 2010 by a team from Google’s London...,"Qubit: Cutting Edge Big Data EngineeringQubit,...",Who You AreBy submitting your application you ...,0,1,1,Full-time,Bachelor's Degree,Internet,Marketing,no
4,S3I Candidates,"LT, ,",NaN,Adform is a premier partner for media agencies...,DCO Team in Kaunas:Front End Developer #URL_82...,0,1,0,Full-time,NaN,Information Technology and Services,NaN,no

In [202]:
df.head()

,job title,office location,company information,job description,job requirements,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?
0,Videographer / Editor / Photographer,"GB, LND, Notting Hill",Dreamers &amp; Creators is a creative agency t...,The Videographer / Editor / Photographer will ...,Minimum 1 year experience as an videographer /...,0,1,1,Full-time,Unspecified,Apparel & Fashion,Art/Creative,no
1,Supply Chain Manager,"GR, I, Kifisia",Η πρώτη στεγασμένη αγορά παραγωγών με παντοπωλ...,Buyer will be in charge of expanding our vendo...,Skills required:MS-Office excellentExperience ...,0,1,1,NaN,NaN,NaN,NaN,no
2,Digital Project Manager,"US, CA, El Segundo",ConsumerTrack is a technology-centric internet...,We are looking for a Digital Project Manager t...,2+ years of project management experience in w...,0,1,1,NaN,NaN,NaN,NaN,no
3,Global Communications Manager,"GB, LND, London",Founded in 2010 by a team from Google’s London...,"Qubit: Cutting Edge Big Data EngineeringQubit,...",Who You AreBy submitting your application you ...,0,1,1,Full-time,Bachelor's Degree,Internet,Marketing,no
4,S3I Candidates,"LT, ,",NaN,Adform is a premier partner for media agencies...,DCO Team in Kaunas:Front End Developer #URL_82...,0,1,0,Full-time,NaN,Information Technology and Services,NaN,no

In [203]:
hero.top_words(df["job description"])

and          126304
to            70406
the           63857
of            48513
a             44234
              ...
성장하고자             1
이루어나가며            1
함께                1
없는                1
Shopzilla         1
Name: job description, Length: 60163, dtype: int64

In [204]:
#pipe lined cleadning
hero.top_words(df["job description"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

team                 13579
work                 11206
business              7875
experience            7579
company               7362
                     ...
processinstalling        1
strategiesdriving        1
equipmentsupport         1
spades                   1
shopzilla                1
Name: job description, Length: 51093, dtype: int64

In [205]:
hero.top_words(df["company information"])

and              56633
the              41622
to               34767
of               27886
a                25382
                 ...
Loaner               1
Complimentary        1
ourOnline            1
Lube                 1
semantic             1
Name: company information, Length: 17396, dtype: int64

In [206]:
hero.top_words(df["company information"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

team        5284
work        5122
company     5018
services    4851
people      4669
            ...
tops           1
holders        1
excell         1
cp24           1
semantic       1
Name: company information, Length: 14463, dtype: int64

In [207]:
hero.top_words(df["job requirements"])

and                   60793
to                    33759
of                    25387
in                    23189
a                     21191
                      ...
powershellIdentify        1
levelScripting            1
diagramsExcellent         1
continuityService         1
Clickbooth                1
Name: job requirements, Length: 47421, dtype: int64

In [208]:
hero.top_words(df["job requirements"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

experience                                   17809
skills                                        9110
work                                          7254
ability                                       6312
years                                         5850
                                             ...
ngphuusmakhrmiiprasbkaarnkaarphathnaarabb        1
khunsmbatikh                                     1
playersense                                      1
presentedteam                                    1
clickbooth                                       1
Name: job requirements, Length: 40620, dtype: int64

In [209]:
df['job_description_filtered']=df["job description"].pipe(hero.clean)
df['company_information_filtered']=df["company information"].pipe(hero.clean)
df['job_requirements_filtered']=df["job requirements"].pipe(hero.clean)

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

In [210]:
df.drop('job description', inplace=True, axis='columns')
df.drop('company information', inplace=True, axis='columns')
df.drop('job requirements', inplace=True, axis='columns')

In [211]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered
0,Videographer / Editor / Photographer,"GB, LND, Notting Hill",0,1,1,Full-time,Unspecified,Apparel & Fashion,Art/Creative,no,videographer editor photographer work closely ...,dreamers amp creators creative agency begun me...,minimum year experience videographer editor ph...
1,Supply Chain Manager,"GR, I, Kifisia",0,1,1,NaN,NaN,NaN,NaN,no,buyer charge expanding vendors managing purcha...,e prote stegasmene agora paragogon pantopoleio...,skills required ms office excellentexperience ...
2,Digital Project Manager,"US, CA, El Segundo",0,1,1,NaN,NaN,NaN,NaN,no,looking digital project manager lifecycle high...,consumertrack technology centric internet mark...,2 years project management experience web e co...
3,Global Communications Manager,"GB, LND, London",0,1,1,Full-time,Bachelor's Degree,Internet,Marketing,no,qubit cutting edge big data engineeringqubit d...,founded team google' london new york offices q...,areby submitting application understand qubit ...
4,S3I Candidates,"LT, ,",0,1,0,Full-time,NaN,Information Technology and Services,NaN,no,adform premier partner media agencies trading ...,,dco team kaunas front end developer url 828ac1...

In [212]:
dfs = pd.DataFrame()

In [213]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

for col in ['telecommuting',
            'company logo exist?',
            'has_questions',
            'employment_type',
            'education required',
            'industry',
            'education required',
            'office location',
            'job title',
            'education required',
            'function',
            'fake?'
            
            ]:
    dfs[col] = le.fit_transform(df[col])

dfs = pd.DataFrame(dfs)

In [214]:
dfs.head()

,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,office location,job title,function,fake?
0,0,1,1,1,9,4,515,8098,3,0
1,0,1,1,5,13,129,677,7503,37,0
2,0,1,1,5,13,129,1184,2096,37,0
3,0,1,1,1,1,61,511,3048,22,0
4,0,1,0,1,13,58,813,6165,37,0

In [215]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
imputed_data = imputer.fit_transform(dfs)

imputed_df = pd.DataFrame(imputed_data, columns=dfs.columns)
imputed_df = imputed_df.astype(dfs.dtypes.to_dict())
dfs=imputed_df

In [216]:
dfs.head()

,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,office location,job title,function,fake?
0,0,1,1,1,9,4,515,8098,3,0
1,0,1,1,5,13,129,677,7503,37,0
2,0,1,1,5,13,129,1184,2096,37,0
3,0,1,1,1,1,61,511,3048,22,0
4,0,1,0,1,13,58,813,6165,37,0

In [217]:
dfs.isnull().sum()

telecommuting          0
company logo exist?    0
has_questions          0
employment_type        0
education required     0
industry               0
office location        0
job title              0
function               0
fake?                  0
dtype: int64

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12841 entries, 0 to 12840
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   job title                     12841 non-null  object
 1   office location               12582 non-null  object
 2   telecommuting                 12841 non-null  int64
 3   company logo exist?           12841 non-null  int64
 4   has_questions                 12841 non-null  int64
 5   employment_type               10313 non-null  object
 6   education required            6988 non-null   object
 7   industry                      9295 non-null   object
 8   function                      8182 non-null   object
 9   fake?                         12841 non-null  object
 10  job_description_filtered      12841 non-null  object
 11  company_information_filtered  12841 non-null  object
 12  job_requirements_filtered     12841 non-null  object
dtypes: int64(3), object(10)
memory usage: 1.3+ MB

In [219]:
df = df.fillna('null')
df['company_information_filtered'].isnull().sum()

0

In [220]:
df['telecommuting']=dfs['telecommuting']
df['company logo exist?']=dfs['company logo exist?']
df['has_questions']=dfs['has_questions']
df['employment_type']=dfs['employment_type']
df['industry']=dfs['industry']
df['office location']=dfs['office location']
df['job title']=dfs['job title']
df['education required']=dfs['education required']
df['function']=dfs['function']
df['fake?']=dfs['fake?']

In [221]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered
0,8098,515,0,1,1,1,9,4,3,0,videographer editor photographer work closely ...,dreamers amp creators creative agency begun me...,minimum year experience videographer editor ph...
1,7503,677,0,1,1,5,13,129,37,0,buyer charge expanding vendors managing purcha...,e prote stegasmene agora paragogon pantopoleio...,skills required ms office excellentexperience ...
2,2096,1184,0,1,1,5,13,129,37,0,looking digital project manager lifecycle high...,consumertrack technology centric internet mark...,2 years project management experience web e co...
3,3048,511,0,1,1,1,1,61,22,0,qubit cutting edge big data engineeringqubit d...,founded team google' london new york offices q...,areby submitting application understand qubit ...
4,6165,813,0,1,0,1,13,58,37,0,adform premier partner media agencies trading ...,,dco team kaunas front end developer url 828ac1...

In [222]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
df['company_information_filtered'] = df['company_information_filtered'].apply(word_tokenize)
df['job_description_filtered'] = df['job_description_filtered'].apply(word_tokenize)
df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(word_tokenize)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [223]:
df['company_information_filtered']

0        [dreamers, amp, creators, creative, agency, be...
1        [e, prote, stegasmene, agora, paragogon, panto...
2        [consumertrack, technology, centric, internet,...
3        [founded, team, google, ', london, new, york, ...
4                                                       []
                               ...
12836    [s5, first, range, certified, organic, cosmece...
12837    [mindworks, interactive, one, fastest, growing...
12838    [schroeder, solutions, full, service, interior...
12839    [provide, full, time, permanent, positions, ma...
12840    [team, top, source, talent, known, within, tec...
Name: company_information_filtered, Length: 12841, dtype: object

In [224]:
df['company_information_filtered'] = pd.DataFrame(df['company_information_filtered'], columns=['company_information_filtered'])
df['job_description_filtered'] = pd.DataFrame(df['job_description_filtered'], columns=['job_description_filtered'])
df['job_requirements_filtered'] = pd.DataFrame(df['job_requirements_filtered'], columns=['job_requirements_filtered'])

In [225]:
import nltk
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()

def Lemming(tokenized_text):
    text = [wordnet_lemmatizer.lemmatize(word) for word in tokenized_text]
    return text

df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(Lemming)
df['company_information_filtered'] = df['company_information_filtered'].apply(Lemming)
df['job_description_filtered'] = df['job_description_filtered'].apply(Lemming)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [226]:
#tfidf

# from sklearn.feature_extraction.text import TfidfVectorizer
# import pandas as pd
# tfidf = TfidfVectorizer()
# # Convert lists in 'job_requirements_filtered' column to strings
# df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(lambda x: ' '.join(x))
# df['company_information_filtered'] = df['company_information_filtered'].apply(lambda x: ' '.join(x))
# df['job_description_filtered'] = df['job_description_filtered'].apply(lambda x: ' '.join(x))

# tfidf.fit(df['job_requirements_filtered'])
# job_requirements_filtered = tfidf.transform(df['job_requirements_filtered'])

# tfidf.fit(df['company_information_filtered'])
# company_information_filtered = tfidf.transform(df['company_information_filtered'])

# tfidf.fit(df['job_description_filtered'])
# job_description_filtered = tfidf.transform(df['job_description_filtered'])

In [227]:

df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(lambda x: ' '.join(x))
df['company_information_filtered'] = df['company_information_filtered'].apply(lambda x: ' '.join(x))
df['job_description_filtered'] = df['job_description_filtered'].apply(lambda x: ' '.join(x))

df['job_requirements_filtered_tf_idf'] = hero.do_tfidf(df['job_requirements_filtered'])
df['company_information_filtered_tf_idf'] = hero.do_tfidf(df['company_information_filtered'])
df['job_description_filtered_tf_idf'] = hero.do_tfidf(df['job_description_filtered'])

In [228]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf
0,8098,515,0,1,1,1,9,4,3,0,videographer editor photographer work closely ...,dreamer amp creator creative agency begun mean...,minimum year experience videographer editor ph...,"[0.21705307829113665, 0.2791408166937279, 0.0,...","[0.0, 0.3026062984849256, 0.2781536235756339, ...","[0.0, 0.0, 0.1988690058056223, 0.1738480694250..."
1,7503,677,0,1,1,5,13,129,37,0,buyer charge expanding vendor managing purchas...,e prote stegasmene agora paragogon pantopoleio...,skill required m office excellentexperience fo...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2096,1184,0,1,1,5,13,129,37,0,looking digital project manager lifecycle high...,consumertrack technology centric internet mark...,2 year project management experience web e com...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.193...","[0.0, 0.0, 0.0, 0.0, 0.10804916344695725, 0.0,..."
3,3048,511,0,1,1,1,1,61,22,0,qubit cutting edge big data engineeringqubit d...,founded team google ' london new york office q...,areby submitting application understand qubit ...,"[0.0, 0.16561370119267252, 0.0, 0.185888814789...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.341...","[0.0, 0.0, 0.0, 0.0, 0.16754732912927564, 0.0,..."
4,6165,813,0,1,0,1,13,58,37,0,adform premier partner medium agency trading d...,,dco team kaunas front end developer url 828ac1...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.05834428418516196, 0.051003629884..."

In [229]:
from nltk import ngrams

# Split text into tokens
df['job_requirements_filtered_tokens'] = df['job_requirements_filtered'].str.split()
df['company_information_filtered_tokens'] = df['company_information_filtered'].str.split()
df['job_description_filtered_tokens'] = df['job_description_filtered'].str.split()

# Generate n-grams (n=3 for trigrams)
df['job_requirements_filtered_trigrams'] = df['job_requirements_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))
df['company_information_filtered_trigrams'] = df['company_information_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))
df['job_description_filtered_trigrams'] = df['job_description_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))

In [230]:
# import tensorflow as tf
# from transformers import BertTokenizer, TFBertForSequenceClassification

# # Load pre-trained BERT tokenizer and model
# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
# model = TFBertForSequenceClassification.from_pretrained('bert-base-uncased')

# # Prepare training data
# train_text = ['This is a positive example.', 'This is a negative example.']
# train_labels = [1, 0]  # 1 for positive, 0 for negative

# # Tokenize training data
# train_encodings = tokenizer(train_text, return_tensors='tf', padding=True, truncation=True)

# # Convert training data to TensorFlow Dataset
# train_dataset = tf.data.Dataset.from_tensor_slices((
#     dict(train_encodings),
#     train_labels
# ))

# # Fine-tune BERT model on training data
# model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=3e-5), loss='binary_crossentropy', metrics=['accuracy'])
# model.fit(train_dataset.batch(8), epochs=3)

In [231]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,...,job_requirements_filtered,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_tokens,company_information_filtered_tokens,job_description_filtered_tokens,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,8098,515,0,1,1,1,9,4,3,0,...,minimum year experience videographer editor ph...,"[0.21705307829113665, 0.2791408166937279, 0.0,...","[0.0, 0.3026062984849256, 0.2781536235756339, ...","[0.0, 0.0, 0.1988690058056223, 0.1738480694250...","[minimum, year, experience, videographer, edit...","[dreamer, amp, creator, creative, agency, begu...","[videographer, editor, photographer, work, clo...","[(minimum, year, experience), (year, experienc...","[(dreamer, amp, creator), (amp, creator, creat...","[(videographer, editor, photographer), (editor..."
1,7503,677,0,1,1,5,13,129,37,0,...,skill required m office excellentexperience fo...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[skill, required, m, office, excellentexperien...","[e, prote, stegasmene, agora, paragogon, panto...","[buyer, charge, expanding, vendor, managing, p...","[(skill, required, m), (required, m, office), ...","[(e, prote, stegasmene), (prote, stegasmene, a...","[(buyer, charge, expanding), (charge, expandin..."
2,2096,1184,0,1,1,5,13,129,37,0,...,2 year project management experience web e com...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.193...","[0.0, 0.0, 0.0, 0.0, 0.10804916344695725, 0.0,...","[2, year, project, management, experience, web...","[consumertrack, technology, centric, internet,...","[looking, digital, project, manager, lifecycle...","[(2, year, project), (year, project, managemen...","[(consumertrack, technology, centric), (techno...","[(looking, digital, project), (digital, projec..."
3,3048,511,0,1,1,1,1,61,22,0,...,areby submitting application understand qubit ...,"[0.0, 0.16561370119267252, 0.0, 0.185888814789...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.341...","[0.0, 0.0, 0.0, 0.0, 0.16754732912927564, 0.0,...","[areby, submitting, application, understand, q...","[founded, team, google, ', london, new, york, ...","[qubit, cutting, edge, big, data, engineeringq...","[(areby, submitting, application), (submitting...","[(founded, team, google), (team, google, '), (...","[(qubit, cutting, edge), (cutting, edge, big),..."
4,6165,813,0,1,0,1,13,58,37,0,...,dco team kaunas front end developer url 828ac1...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.05834428418516196, 0.051003629884...","[dco, team, kaunas, front, end, developer, url...",[],"[adform, premier, partner, medium, agency, tra...","[(dco, team, kaunas), (team, kaunas, front), (...",[],"[(adform, premier, partner), (premier, partner..."

In [232]:
df.drop('job_description_filtered', inplace=True, axis='columns')
df.drop('company_information_filtered', inplace=True, axis='columns')
df.drop('job_requirements_filtered', inplace=True, axis='columns')

df.drop('job_requirements_filtered_tokens', inplace=True, axis='columns')
df.drop('company_information_filtered_tokens', inplace=True, axis='columns')
df.drop('job_description_filtered_tokens', inplace=True, axis='columns')

In [233]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,8098,515,0,1,1,1,9,4,3,0,"[0.21705307829113665, 0.2791408166937279, 0.0,...","[0.0, 0.3026062984849256, 0.2781536235756339, ...","[0.0, 0.0, 0.1988690058056223, 0.1738480694250...","[(minimum, year, experience), (year, experienc...","[(dreamer, amp, creator), (amp, creator, creat...","[(videographer, editor, photographer), (editor..."
1,7503,677,0,1,1,5,13,129,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[(skill, required, m), (required, m, office), ...","[(e, prote, stegasmene), (prote, stegasmene, a...","[(buyer, charge, expanding), (charge, expandin..."
2,2096,1184,0,1,1,5,13,129,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.193...","[0.0, 0.0, 0.0, 0.0, 0.10804916344695725, 0.0,...","[(2, year, project), (year, project, managemen...","[(consumertrack, technology, centric), (techno...","[(looking, digital, project), (digital, projec..."
3,3048,511,0,1,1,1,1,61,22,0,"[0.0, 0.16561370119267252, 0.0, 0.185888814789...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.341...","[0.0, 0.0, 0.0, 0.0, 0.16754732912927564, 0.0,...","[(areby, submitting, application), (submitting...","[(founded, team, google), (team, google, '), (...","[(qubit, cutting, edge), (cutting, edge, big),..."
4,6165,813,0,1,0,1,13,58,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.05834428418516196, 0.051003629884...","[(dco, team, kaunas), (team, kaunas, front), (...",[],"[(adform, premier, partner), (premier, partner..."

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12841 entries, 0 to 12840
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job title                              12841 non-null  int64
 1   office location                        12841 non-null  int64
 2   telecommuting                          12841 non-null  int64
 3   company logo exist?                    12841 non-null  int64
 4   has_questions                          12841 non-null  int64
 5   employment_type                        12841 non-null  int64
 6   education required                     12841 non-null  int64
 7   industry                               12841 non-null  int64
 8   function                               12841 non-null  int64
 9   fake?                                  12841 non-null  int64
 10  job_requirements_filtered_tf_idf       12841 non-null  object
 11  company_information_filtered_tf_idf    12841 non-null  object
 12  job_description_filtered_tf_idf        12841 non-null  object
 13  job_requirements_filtered_trigrams     12841 non-null  object
 14  company_information_filtered_trigrams  12841 non-null  object
 15  job_description_filtered_trigrams      12841 non-null  object
dtypes: int64(10), object(6)
memory usage: 1.6+ MB

In [235]:
print(df['education required'].nunique())

14

In [236]:
# import gensim
# from gensim.models import Word2Vec

# # Prepare training data (list of sentences as lists of words)
# sentences = df['job_requirements_filtered_trigrams'].apply(lambda x: [' '.join(gram) for gram in x]).tolist()

# # Train Word2Vec model
# model = Word2Vec(sentences, min_count=1)

# # Get vector for word 'sentence'
# vector = model.wv[hero.top_words(df["job_requirements_filtered_trigrams"])]

# print(vector)

In [237]:
dfr = pd.DataFrame(index=df.index)
le = preprocessing.LabelEncoder()
for col in ['job_requirements_filtered_trigrams', 
            'company_information_filtered_trigrams', 
            'job_description_filtered_trigrams']:
    df[col] = df[col].apply(lambda x: ','.join(['_'.join(map(str, t)) for t in x]) if isinstance(x, list) else x)
    dfr[col] = le.fit_transform(df[col])

In [238]:
df['job_requirements_filtered_trigrams']=dfr['job_requirements_filtered_trigrams']
df['company_information_filtered_trigrams']=dfr['company_information_filtered_trigrams']
df['job_description_filtered_trigrams']=dfr['job_description_filtered_trigrams']

In [239]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,8098,515,0,1,1,1,9,4,3,0,"[0.21705307829113665, 0.2791408166937279, 0.0,...","[0.0, 0.3026062984849256, 0.2781536235756339, ...","[0.0, 0.0, 0.1988690058056223, 0.1738480694250...",4713,372,10188
1,7503,677,0,1,1,5,13,129,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",7579,385,1096
2,2096,1184,0,1,1,5,13,129,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.193...","[0.0, 0.0, 0.0, 0.0, 0.10804916344695725, 0.0,...",438,292,5461
3,3048,511,0,1,1,1,1,61,22,0,"[0.0, 0.16561370119267252, 0.0, 0.185888814789...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.341...","[0.0, 0.0, 0.0, 0.0, 0.16754732912927564, 0.0,...",948,533,7903
4,6165,813,0,1,0,1,13,58,37,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.05834428418516196, 0.051003629884...",1829,0,453

In [240]:
from sklearn.model_selection import train_test_split
X = df.drop(['fake?','job_requirements_filtered_tf_idf','company_information_filtered_tf_idf','job_description_filtered_tf_idf'],axis=1)
y=df['fake?']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state =  101)

In [241]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [242]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state =83 ,max_iter=3000)
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=3000, random_state=83)

In [243]:
y_pred_2 = classifier.predict(X_test)

In [244]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred_2)
print (cm)

[[4241    4]
 [ 227   23]]

In [245]:
from sklearn.metrics import classification_report
cr=classification_report(y_test, y_pred_2)
print(cr)

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      4245
           1       0.85      0.09      0.17       250

    accuracy                           0.95      4495
   macro avg       0.90      0.55      0.57      4495
weighted avg       0.94      0.95      0.93      4495

In [258]:
from sklearn.svm import SVC
svc_model = SVC(C=150, kernel='poly', degree= 4)
svc_model.fit(X_train, y_train)
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
y_pred = svc_model.predict(X_test)

# Generate a classification report for the true and predicted labels
report = classification_report(y_test, y_pred)

# Print the classification report
print(report)

0.9845434938892883
0.9526140155728587
              precision    recall  f1-score   support

           0       0.97      0.98      0.97      4245
           1       0.57      0.57      0.57       250

    accuracy                           0.95      4495
   macro avg       0.77      0.77      0.77      4495
weighted avg       0.95      0.95      0.95      4495

In [247]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
dtclf = DecisionTreeClassifier(max_depth=3, criterion='gini',
                               random_state=100)
clf = AdaBoostClassifier(base_estimator=dtclf,
                            n_estimators=60,
                            learning_rate=0.8,
                            algorithm='SAMME.R',
                            random_state=100)

clf.fit(X_train, y_train)
print('Model accuracy score: {0:0.4f}'. format(clf.score(X_train,y_train)*100))
print('Model accuracy score: {0:0.4f}'. format(clf.score(X_test,y_test)*100))

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Model accuracy score: 99.8562
Model accuracy score: 97.2859

In [260]:
from sklearn.neural_network import MLPClassifier
MLP = MLPClassifier(hidden_layer_sizes=(20,5,30), activation='relu')
MLP.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(20, 5, 30))

In [261]:
print('Model accuracy score: {0:0.4f}'. format(MLP.score(X_train,y_train)*100))
print('Model accuracy score: {0:0.4f}'. format(MLP.score(X_test,y_test)*100))

Model accuracy score: 95.7345
Model accuracy score: 95.4171

In [262]:
y_pred = MLP.predict(X_test)
MLP_report = classification_report(y_test, y_pred)
print(MLP_report)

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      4245
           1       0.68      0.33      0.45       250

    accuracy                           0.95      4495
   macro avg       0.82      0.66      0.71      4495
weighted avg       0.95      0.95      0.95      4495

In [268]:
from xgboost import XGBClassifier
XGB = XGBClassifier(max_depth=5, subsample=1, n_estimators=50, min_child_weight=1, random_state=5)
XGB.fit(X_train, y_train)
print('Model accuracy score: {0:0.4f}'. format(XGB.score(X_train,y_train)*100))
print('Model accuracy score: {0:0.4f}'. format(XGB.score(X_test,y_test)*100))

Model accuracy score: 99.0295
Model accuracy score: 97.7086

In [269]:
y_pred = XGB.predict(X_test)
XGB_report = classification_report(y_test, y_pred)
print(XGB_report)

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      4245
           1       0.94      0.63      0.75       250

    accuracy                           0.98      4495
   macro avg       0.96      0.81      0.87      4495
weighted avg       0.98      0.98      0.97      4495

In [248]:
import pickle
pickle.dump(classifier,open('logistic','wb'))
loaded_model=pickle.load(open('logistic','rb'))

In [251]:
import pickle
pickle.dump(clf,open('ADa Boosttttt','wb'))

In [259]:
import pickle
pickle.dump(svc_model,open('SVCCCC','wb'))

In [263]:
pickle.dump(MLP,open('MLP','wb'))

In [272]:
pickle.dump(XGB,open('XGB','wb'))