In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
plt.style.use('ggplot');
!pip install "gensim==4.2.0"
!pip install "texthero==1.0.5"
#!pip install "gensim==3.8.1"
#!pip install -U gensim
#!pip install texthero
#!pip install "texthero==1.1.0"
!pip install Unidecode
#!pip install texthero -U
#!pip install--upgrade googletrans
#from googletrans import Translator
import nltk
nltk.download('stopwords')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gensim==4.2.0
  Downloading gensim-4.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.0/24.0 MB 49.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (1.22.4)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim==4.2.0) (6.3.0)
Installing collected packages: gensim
  Attempting uninstall: gensim
    Found existing installation: gensim 4.3.1
    Uninstalling gensim-4.3.1:
      Successfully uninstalled gensim-4.3.1
Successfully installed gensim-4.2.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting texthero==1.0.5
  Downloading texthero-1.0.5-py3-none-any.whl (12 kB)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from texthero==1.0.5) (3.8.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from texthero==1.0.5) (1.2.2)
Collecting plotly-express (from texthero==1.0.5)
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->texthero==1.0.5) (4.65.0)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.5.3)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (5.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (0.13.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.10.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (0.5.3)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.10/dist-packages (from plotly-express->texthero==1.0.5) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->texthero==1.0.5) (3.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express->texthero==1.0.5) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express->texthero==1.0.5) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5->plotly-express->texthero==1.0.5) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=4.1.0->plotly-express->texthero==1.0.5) (8.2.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->plotly-express->texthero==1.0.5) (23.1)
Installing collected packages: plotly-express, texthero
Successfully installed plotly-express-0.4.1 texthero-1.0.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 15.3 MB/s eta 0:00:00
Installing collected packages: Unidecode
Successfully installed Unidecode-1.3.6

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

The default pipeline for the clean method is the following:

fillna(s) Replace not assigned values with empty spaces.

lowercase(s) Lowercase all text.

remove_digits() Remove all blocks of digits.

remove_punctuation() Remove all string.punctuation (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~).

remove_diacritics() Remove all accents from strings.

remove_stopwords() Remove all stop words.

remove_whitespace() Remove all white space between words.

In [2]:
import texthero as hero

In [3]:
help(hero)

Help on package texthero:

NAME
    texthero - Texthero: python toolkit for text preprocessing, representation and visualization.

PACKAGE CONTENTS
    __about__
    clustering
    preprocessing
    representation
    statistics
    texthero
    version
    visualization

DATA
    stopwords = <WordListCorpusReader in '.../corpora/stopwords' (not load...

VERSION
    1.0.5

FILE
    /usr/local/lib/python3.10/dist-packages/texthero/__init__.py

In [4]:
df=pd.read_csv('test.csv')

In [5]:
df.shape

(3198, 17)

In [6]:
df.head()

,job title,office location,department,salary offered for the job,company information,job description,job requirements,benefits,telecommuting,company logo exist?,has_questions,employment_type,experience required,education required,industry,function,fake?
0,Commercial/Industrial Construction Superintendent,"US, WA, Skagit County",NaN,NaN,NaN,Seeking qualified candidates for a full-time s...,Minimum five years of construction management ...,"401K, company vehicle, health, vision and dent...",0,0,1,Full-time,NaN,Unspecified,Construction,Management,no
1,Title Closer / Settlement Agent,"US, VA, Richmond",NaN,NaN,Network Closing Services has been serving Lend...,Looking for a change? Not happy where you are...,Are you a top Closer in your market? Are you a...,"We provide a fun and rewarding atmosphere, our...",0,1,1,Full-time,Mid-Senior level,NaN,Real Estate,NaN,no
2,Back-end Developer,"NL, NH, Amsterdam",IT,NaN,About the CompanyWe are ticketscript - the Eur...,About the CompanyWe are ticketscript - the Eur...,Your profileThe basics- 5+ years of experience...,Our offerA competitive salary within an intern...,0,1,0,Full-time,Associate,NaN,Computer Software,Information Technology,no
3,Full-time Web Developer,"PH, ,",NaN,528000-636000,NaN,#NAME?,- Must have extensive knowledge of CMS framewo...,NaN,0,1,0,Full-time,Not Applicable,Unspecified,Information Technology and Services,Information Technology,no
4,Program Manager,"US, CA, Mountain View",NaN,NaN,"Come be a part of one of the fastest growing, ...",We are looking for a Program Manager who can h...,Desired skills…10+ years of industry experienc...,Competitive base salaryStock OptionsFull benef...,0,1,1,Full-time,NaN,NaN,NaN,NaN,no

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job title                   3198 non-null   object
 1   office location             3153 non-null   object
 2   department                  1115 non-null   object
 3   salary offered for the job  505 non-null    object
 4   company information         2621 non-null   object
 5   job description             3197 non-null   object
 6   job requirements            2729 non-null   object
 7   benefits                    1976 non-null   object
 8   telecommuting               3198 non-null   int64
 9   company logo exist?         3198 non-null   int64
 10  has_questions               3198 non-null   int64
 11  employment_type             2627 non-null   object
 12  experience required         1973 non-null   object
 13  education required          1792 non-null   object
 14  industry                    2361 non-null   object
 15  function                    2076 non-null   object
 16  fake?                       3198 non-null   object
dtypes: int64(3), object(14)
memory usage: 424.9+ KB

In [8]:
df.isnull().sum()

job title                        0
office location                 45
department                    2083
salary offered for the job    2693
company information            577
job description                  1
job requirements               469
benefits                      1222
telecommuting                    0
company logo exist?              0
has_questions                    0
employment_type                571
experience required           1225
education required            1406
industry                       837
function                      1122
fake?                            0
dtype: int64

In [9]:
df.drop('salary offered for the job', inplace=True, axis='columns')
df.drop('department', inplace=True, axis='columns')
df.drop('benefits', inplace=True, axis='columns')
df.drop('experience required', inplace=True, axis='columns')
#df.drop('department', inplace=True, axis='columns')

In [10]:
df.head()

,job title,office location,company information,job description,job requirements,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?
0,Commercial/Industrial Construction Superintendent,"US, WA, Skagit County",NaN,Seeking qualified candidates for a full-time s...,Minimum five years of construction management ...,0,0,1,Full-time,Unspecified,Construction,Management,no
1,Title Closer / Settlement Agent,"US, VA, Richmond",Network Closing Services has been serving Lend...,Looking for a change? Not happy where you are...,Are you a top Closer in your market? Are you a...,0,1,1,Full-time,NaN,Real Estate,NaN,no
2,Back-end Developer,"NL, NH, Amsterdam",About the CompanyWe are ticketscript - the Eur...,About the CompanyWe are ticketscript - the Eur...,Your profileThe basics- 5+ years of experience...,0,1,0,Full-time,NaN,Computer Software,Information Technology,no
3,Full-time Web Developer,"PH, ,",NaN,#NAME?,- Must have extensive knowledge of CMS framewo...,0,1,0,Full-time,Unspecified,Information Technology and Services,Information Technology,no
4,Program Manager,"US, CA, Mountain View","Come be a part of one of the fastest growing, ...",We are looking for a Program Manager who can h...,Desired skills…10+ years of industry experienc...,0,1,1,Full-time,NaN,NaN,NaN,no

In [11]:
df.head()

,job title,office location,company information,job description,job requirements,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?
0,Commercial/Industrial Construction Superintendent,"US, WA, Skagit County",NaN,Seeking qualified candidates for a full-time s...,Minimum five years of construction management ...,0,0,1,Full-time,Unspecified,Construction,Management,no
1,Title Closer / Settlement Agent,"US, VA, Richmond",Network Closing Services has been serving Lend...,Looking for a change? Not happy where you are...,Are you a top Closer in your market? Are you a...,0,1,1,Full-time,NaN,Real Estate,NaN,no
2,Back-end Developer,"NL, NH, Amsterdam",About the CompanyWe are ticketscript - the Eur...,About the CompanyWe are ticketscript - the Eur...,Your profileThe basics- 5+ years of experience...,0,1,0,Full-time,NaN,Computer Software,Information Technology,no
3,Full-time Web Developer,"PH, ,",NaN,#NAME?,- Must have extensive knowledge of CMS framewo...,0,1,0,Full-time,Unspecified,Information Technology and Services,Information Technology,no
4,Program Manager,"US, CA, Mountain View","Come be a part of one of the fastest growing, ...",We are looking for a Program Manager who can h...,Desired skills…10+ years of industry experienc...,0,1,1,Full-time,NaN,NaN,NaN,no

In [12]:
hero.top_words(df["job description"])

and                  32029
to                   17928
the                  16334
of                   12197
a                    11270
                     ...
LeaderCoordinates        1
BioSpringer              1
GroupSecondary           1
neededMonitors           1
clients4                 1
Name: job description, Length: 29829, dtype: int64

In [13]:
#pipe lined cleadning
hero.top_words(df["job description"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

team                   3212
work                   2789
business               1913
company                1831
experience             1823
                       ...
processesunderstand       1
workmaintain              1
workrun                   1
conferring                1
clients4                  1
Name: job description, Length: 24667, dtype: int64

In [14]:
hero.top_words(df["company information"])

and             14288
the             10426
to               8593
of               6965
a                6481
                ...
illicit             1
drug                1
Accredited          1
Associations        1
courageous          1
Name: company information, Length: 12410, dtype: int64

In [15]:
hero.top_words(df["company information"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

team             1284
work             1274
company          1198
services         1191
people           1128
                 ...
companyaviary       1
editor              1
democratize         1
worth1000           1
courageous          1
Name: company information, Length: 10438, dtype: int64

In [16]:
hero.top_words(df["job requirements"])

and         14839
to           8295
of           6126
in           5554
a            5387
            ...
disclose        1
fee             1
charged         1
callouts        1
DNA             1
Name: job requirements, Length: 21565, dtype: int64

In [17]:
hero.top_words(df["job requirements"].pipe(hero.clean))

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

experience             4263
skills                 2281
work                   1768
ability                1533
years                  1375
                       ...
focalpoint                1
ppbe                      1
lifecycleexperience       1
folder                    1
dna                       1
Name: job requirements, Length: 18257, dtype: int64

In [18]:
df['job_description_filtered']=df["job description"].pipe(hero.clean)
df['company_information_filtered']=df["company information"].pipe(hero.clean)
df['job_requirements_filtered']=df["job requirements"].pipe(hero.clean)

/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(r"^\d+\s|\s\d+\s|\s\d+$", " ")
/usr/local/lib/python3.10/dist-packages/texthero/preprocessing.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return input.str.replace(pat, '')

In [19]:
df.drop('job description', inplace=True, axis='columns')
df.drop('company information', inplace=True, axis='columns')
df.drop('job requirements', inplace=True, axis='columns')

In [20]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered
0,Commercial/Industrial Construction Superintendent,"US, WA, Skagit County",0,0,1,Full-time,Unspecified,Construction,Management,no,seeking qualified candidates full time superin...,,minimum five years construction management cra...
1,Title Closer / Settlement Agent,"US, VA, Richmond",0,1,1,Full-time,NaN,Real Estate,NaN,no,looking change happy give us call network clos...,network closing services serving lenders real ...,top closer market go getter able market new cl...
2,Back-end Developer,"NL, NH, Amsterdam",0,1,0,Full-time,NaN,Computer Software,Information Technology,no,companywe ticketscript european market leaders...,companywe ticketscript european market leaders...,profilethe basics 5 years experience building ...
3,Full-time Web Developer,"PH, ,",0,1,0,Full-time,Unspecified,Information Technology and Services,Information Technology,no,name,,must extensive knowledge cms frameworks like w...
4,Program Manager,"US, CA, Mountain View",0,1,1,Full-time,NaN,NaN,NaN,no,looking program manager help support oem custo...,come part one fastest growing well funded exci...,desired skills...10 years industry experience ...

In [21]:
dfs = pd.DataFrame()

In [22]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

for col in ['telecommuting',
            'company logo exist?',
            'has_questions',
            'employment_type',
            'education required',
            'industry',
            'education required',
            'office location',
            'job title',
            'education required',
            'function',
            'fake?'
            
            ]:
    dfs[col] = le.fit_transform(df[col])

dfs = pd.DataFrame(dfs)

In [23]:
dfs.head()

,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,office location,job title,function,fake?
0,0,0,1,1,9,21,1082,354,20,0
1,0,1,1,1,13,93,1065,2318,37,0
2,0,1,0,1,13,20,361,179,18,0
3,0,1,0,1,9,54,381,857,18,0
4,0,1,1,1,13,112,523,1673,37,0

In [24]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
imputed_data = imputer.fit_transform(dfs)

imputed_df = pd.DataFrame(imputed_data, columns=dfs.columns)
imputed_df = imputed_df.astype(dfs.dtypes.to_dict())
dfs=imputed_df

In [25]:
dfs.head()

,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,office location,job title,function,fake?
0,0,0,1,1,9,21,1082,354,20,0
1,0,1,1,1,13,93,1065,2318,37,0
2,0,1,0,1,13,20,361,179,18,0
3,0,1,0,1,9,54,381,857,18,0
4,0,1,1,1,13,112,523,1673,37,0

In [26]:
dfs.isnull().sum()

telecommuting          0
company logo exist?    0
has_questions          0
employment_type        0
education required     0
industry               0
office location        0
job title              0
function               0
fake?                  0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   job title                     3198 non-null   object
 1   office location               3153 non-null   object
 2   telecommuting                 3198 non-null   int64
 3   company logo exist?           3198 non-null   int64
 4   has_questions                 3198 non-null   int64
 5   employment_type               2627 non-null   object
 6   education required            1792 non-null   object
 7   industry                      2361 non-null   object
 8   function                      2076 non-null   object
 9   fake?                         3198 non-null   object
 10  job_description_filtered      3198 non-null   object
 11  company_information_filtered  3198 non-null   object
 12  job_requirements_filtered     3198 non-null   object
dtypes: int64(3), object(10)
memory usage: 324.9+ KB

In [28]:
df = df.fillna('null')
df['company_information_filtered'].isnull().sum()

0

In [29]:
df['telecommuting']=dfs['telecommuting']
df['company logo exist?']=dfs['company logo exist?']
df['has_questions']=dfs['has_questions']
df['employment_type']=dfs['employment_type']
df['industry']=dfs['industry']
df['office location']=dfs['office location']
df['job title']=dfs['job title']
df['education required']=dfs['education required']
df['function']=dfs['function']
df['fake?']=dfs['fake?']

In [30]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered
0,354,1082,0,0,1,1,9,21,20,0,seeking qualified candidates full time superin...,,minimum five years construction management cra...
1,2318,1065,0,1,1,1,13,93,37,0,looking change happy give us call network clos...,network closing services serving lenders real ...,top closer market go getter able market new cl...
2,179,361,0,1,0,1,13,20,18,0,companywe ticketscript european market leaders...,companywe ticketscript european market leaders...,profilethe basics 5 years experience building ...
3,857,381,0,1,0,1,9,54,18,0,name,,must extensive knowledge cms frameworks like w...
4,1673,523,0,1,1,1,13,112,37,0,looking program manager help support oem custo...,come part one fastest growing well funded exci...,desired skills...10 years industry experience ...

In [31]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
df['company_information_filtered'] = df['company_information_filtered'].apply(word_tokenize)
df['job_description_filtered'] = df['job_description_filtered'].apply(word_tokenize)
df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(word_tokenize)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [32]:
df['company_information_filtered']

0                                                      []
1       [network, closing, services, serving, lenders,...
2       [companywe, ticketscript, european, market, le...
3                                                      []
4       [come, part, one, fastest, growing, well, fund...
                              ...
3193    [proficio, mortgage, rapidly, growing, mortgag...
3194                                                   []
3195    [united, cerebral, palsy, oregon, amp, sw, was...
3196                                                   []
3197    [offices, across, uk, mainland, europe, austra...
Name: company_information_filtered, Length: 3198, dtype: object

In [33]:
df['company_information_filtered'] = pd.DataFrame(df['company_information_filtered'], columns=['company_information_filtered'])
df['job_description_filtered'] = pd.DataFrame(df['job_description_filtered'], columns=['job_description_filtered'])
df['job_requirements_filtered'] = pd.DataFrame(df['job_requirements_filtered'], columns=['job_requirements_filtered'])

In [34]:
import nltk
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()

def Lemming(tokenized_text):
    text = [wordnet_lemmatizer.lemmatize(word) for word in tokenized_text]
    return text

df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(Lemming)
df['company_information_filtered'] = df['company_information_filtered'].apply(Lemming)
df['job_description_filtered'] = df['job_description_filtered'].apply(Lemming)

[nltk_data] Downloading package wordnet to /root/nltk_data...

In [35]:
#tfidf

# from sklearn.feature_extraction.text import TfidfVectorizer
# import pandas as pd
# tfidf = TfidfVectorizer()
# # Convert lists in 'job_requirements_filtered' column to strings
# df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(lambda x: ' '.join(x))
# df['company_information_filtered'] = df['company_information_filtered'].apply(lambda x: ' '.join(x))
# df['job_description_filtered'] = df['job_description_filtered'].apply(lambda x: ' '.join(x))

# tfidf.fit(df['job_requirements_filtered'])
# job_requirements_filtered = tfidf.transform(df['job_requirements_filtered'])

# tfidf.fit(df['company_information_filtered'])
# company_information_filtered = tfidf.transform(df['company_information_filtered'])

# tfidf.fit(df['job_description_filtered'])
# job_description_filtered = tfidf.transform(df['job_description_filtered'])

In [36]:

df['job_requirements_filtered'] = df['job_requirements_filtered'].apply(lambda x: ' '.join(x))
df['company_information_filtered'] = df['company_information_filtered'].apply(lambda x: ' '.join(x))
df['job_description_filtered'] = df['job_description_filtered'].apply(lambda x: ' '.join(x))

df['job_requirements_filtered_tf_idf'] = hero.do_tfidf(df['job_requirements_filtered'])
df['company_information_filtered_tf_idf'] = hero.do_tfidf(df['company_information_filtered'])
df['job_description_filtered_tf_idf'] = hero.do_tfidf(df['job_description_filtered'])

In [37]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_description_filtered,company_information_filtered,job_requirements_filtered,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf
0,354,1082,0,0,1,1,9,21,20,0,seeking qualified candidate full time superint...,,minimum five year construction management craf...,"[0.1461650560099457, 0.37491394430617386, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2318,1065,0,1,1,1,13,93,37,0,looking change happy give u call network closi...,network closing service serving lender real es...,top closer market go getter able market new cl...,"[0.25000596479597265, 0.3206331421490739, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,179,361,0,1,0,1,13,20,18,0,companywe ticketscript european market leader ...,companywe ticketscript european market leader ...,profilethe basic 5 year experience building we...,"[0.0, 0.0, 0.0, 0.21787933277753105, 0.0, 0.0,...","[0.32802439648321563, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.23252519223284024,..."
3,857,381,0,1,0,1,9,54,18,0,name,,must extensive knowledge cm framework like wor...,"[0.0, 0.2848551240509831, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1673,523,0,1,1,1,13,112,37,0,looking program manager help support oem custo...,come part one fastest growing well funded exci...,desired skill ... 10 year industry experience ...,"[0.10124211858705792, 0.0, 0.0, 0.151990376134...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.120...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.18001491..."

In [38]:
from nltk import ngrams

# Split text into tokens
df['job_requirements_filtered_tokens'] = df['job_requirements_filtered'].str.split()
df['company_information_filtered_tokens'] = df['company_information_filtered'].str.split()
df['job_description_filtered_tokens'] = df['job_description_filtered'].str.split()

# Generate n-grams (n=3 for trigrams)
df['job_requirements_filtered_trigrams'] = df['job_requirements_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))
df['company_information_filtered_trigrams'] = df['company_information_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))
df['job_description_filtered_trigrams'] = df['job_description_filtered_tokens'].apply(lambda x: list(ngrams(x, 3)))

In [39]:
# import tensorflow as tf
# from transformers import BertTokenizer, TFBertForSequenceClassification

# # Load pre-trained BERT tokenizer and model
# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
# model = TFBertForSequenceClassification.from_pretrained('bert-base-uncased')

# # Prepare training data
# train_text = ['This is a positive example.', 'This is a negative example.']
# train_labels = [1, 0]  # 1 for positive, 0 for negative

# # Tokenize training data
# train_encodings = tokenizer(train_text, return_tensors='tf', padding=True, truncation=True)

# # Convert training data to TensorFlow Dataset
# train_dataset = tf.data.Dataset.from_tensor_slices((
#     dict(train_encodings),
#     train_labels
# ))

# # Fine-tune BERT model on training data
# model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=3e-5), loss='binary_crossentropy', metrics=['accuracy'])
# model.fit(train_dataset.batch(8), epochs=3)

In [40]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,...,job_requirements_filtered,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_tokens,company_information_filtered_tokens,job_description_filtered_tokens,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,354,1082,0,0,1,1,9,21,20,0,...,minimum five year construction management craf...,"[0.1461650560099457, 0.37491394430617386, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[minimum, five, year, construction, management...",[],"[seeking, qualified, candidate, full, time, su...","[(minimum, five, year), (five, year, construct...",[],"[(seeking, qualified, candidate), (qualified, ..."
1,2318,1065,0,1,1,1,13,93,37,0,...,top closer market go getter able market new cl...,"[0.25000596479597265, 0.3206331421490739, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[top, closer, market, go, getter, able, market...","[network, closing, service, serving, lender, r...","[looking, change, happy, give, u, call, networ...","[(top, closer, market), (closer, market, go), ...","[(network, closing, service), (closing, servic...","[(looking, change, happy), (change, happy, giv..."
2,179,361,0,1,0,1,13,20,18,0,...,profilethe basic 5 year experience building we...,"[0.0, 0.0, 0.0, 0.21787933277753105, 0.0, 0.0,...","[0.32802439648321563, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.23252519223284024,...","[profilethe, basic, 5, year, experience, build...","[companywe, ticketscript, european, market, le...","[companywe, ticketscript, european, market, le...","[(profilethe, basic, 5), (basic, 5, year), (5,...","[(companywe, ticketscript, european), (tickets...","[(companywe, ticketscript, european), (tickets..."
3,857,381,0,1,0,1,9,54,18,0,...,must extensive knowledge cm framework like wor...,"[0.0, 0.2848551240509831, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[must, extensive, knowledge, cm, framework, li...",[],[name],"[(must, extensive, knowledge), (extensive, kno...",[],[]
4,1673,523,0,1,1,1,13,112,37,0,...,desired skill ... 10 year industry experience ...,"[0.10124211858705792, 0.0, 0.0, 0.151990376134...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.120...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.18001491...","[desired, skill, ..., 10, year, industry, expe...","[come, part, one, fastest, growing, well, fund...","[looking, program, manager, help, support, oem...","[(desired, skill, ...), (skill, ..., 10), (......","[(come, part, one), (part, one, fastest), (one...","[(looking, program, manager), (program, manage..."

In [41]:
df.drop('job_description_filtered', inplace=True, axis='columns')
df.drop('company_information_filtered', inplace=True, axis='columns')
df.drop('job_requirements_filtered', inplace=True, axis='columns')

df.drop('job_requirements_filtered_tokens', inplace=True, axis='columns')
df.drop('company_information_filtered_tokens', inplace=True, axis='columns')
df.drop('job_description_filtered_tokens', inplace=True, axis='columns')

In [42]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,354,1082,0,0,1,1,9,21,20,0,"[0.1461650560099457, 0.37491394430617386, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[(minimum, five, year), (five, year, construct...",[],"[(seeking, qualified, candidate), (qualified, ..."
1,2318,1065,0,1,1,1,13,93,37,0,"[0.25000596479597265, 0.3206331421490739, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[(top, closer, market), (closer, market, go), ...","[(network, closing, service), (closing, servic...","[(looking, change, happy), (change, happy, giv..."
2,179,361,0,1,0,1,13,20,18,0,"[0.0, 0.0, 0.0, 0.21787933277753105, 0.0, 0.0,...","[0.32802439648321563, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.23252519223284024,...","[(profilethe, basic, 5), (basic, 5, year), (5,...","[(companywe, ticketscript, european), (tickets...","[(companywe, ticketscript, european), (tickets..."
3,857,381,0,1,0,1,9,54,18,0,"[0.0, 0.2848551240509831, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[(must, extensive, knowledge), (extensive, kno...",[],[]
4,1673,523,0,1,1,1,13,112,37,0,"[0.10124211858705792, 0.0, 0.0, 0.151990376134...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.120...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.18001491...","[(desired, skill, ...), (skill, ..., 10), (......","[(come, part, one), (part, one, fastest), (one...","[(looking, program, manager), (program, manage..."

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job title                              3198 non-null   int64
 1   office location                        3198 non-null   int64
 2   telecommuting                          3198 non-null   int64
 3   company logo exist?                    3198 non-null   int64
 4   has_questions                          3198 non-null   int64
 5   employment_type                        3198 non-null   int64
 6   education required                     3198 non-null   int64
 7   industry                               3198 non-null   int64
 8   function                               3198 non-null   int64
 9   fake?                                  3198 non-null   int64
 10  job_requirements_filtered_tf_idf       3198 non-null   object
 11  company_information_filtered_tf_idf    3198 non-null   object
 12  job_description_filtered_tf_idf        3198 non-null   object
 13  job_requirements_filtered_trigrams     3198 non-null   object
 14  company_information_filtered_trigrams  3198 non-null   object
 15  job_description_filtered_trigrams      3198 non-null   object
dtypes: int64(10), object(6)
memory usage: 399.9+ KB

In [44]:
print(df['education required'].nunique())

14

In [45]:
# import gensim
# from gensim.models import Word2Vec

# # Prepare training data (list of sentences as lists of words)
# sentences = df['job_requirements_filtered_trigrams'].apply(lambda x: [' '.join(gram) for gram in x]).tolist()

# # Train Word2Vec model
# model = Word2Vec(sentences, min_count=1)

# # Get vector for word 'sentence'
# vector = model.wv[hero.top_words(df["job_requirements_filtered_trigrams"])]

# print(vector)

In [46]:
dfr = pd.DataFrame(index=df.index)
le = preprocessing.LabelEncoder()
for col in ['job_requirements_filtered_trigrams', 
            'company_information_filtered_trigrams', 
            'job_description_filtered_trigrams']:
    df[col] = df[col].apply(lambda x: ','.join(['_'.join(map(str, t)) for t in x]) if isinstance(x, list) else x)
    dfr[col] = le.fit_transform(df[col])

In [47]:
df['job_requirements_filtered_trigrams']=dfr['job_requirements_filtered_trigrams']
df['company_information_filtered_trigrams']=dfr['company_information_filtered_trigrams']
df['job_description_filtered_trigrams']=dfr['job_description_filtered_trigrams']

In [48]:
df.head()

,job title,office location,telecommuting,company logo exist?,has_questions,employment_type,education required,industry,function,fake?,job_requirements_filtered_tf_idf,company_information_filtered_tf_idf,job_description_filtered_tf_idf,job_requirements_filtered_trigrams,company_information_filtered_trigrams,job_description_filtered_trigrams
0,354,1082,0,0,1,1,9,21,20,0,"[0.1461650560099457, 0.37491394430617386, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1241,0,2349
1,2318,1065,0,1,1,1,13,93,37,0,"[0.25000596479597265, 0.3206331421490739, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2190,499,1463
2,179,361,0,1,0,1,13,20,18,0,"[0.0, 0.0, 0.0, 0.21787933277753105, 0.0, 0.0,...","[0.32802439648321563, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.23252519223284024,...",1562,162,512
3,857,381,0,1,0,1,9,54,18,0,"[0.0, 0.2848551240509831, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1335,0,0
4,1673,523,0,1,1,1,13,112,37,0,"[0.10124211858705792, 0.0, 0.0, 0.151990376134...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.120...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.18001491...",536,149,1585

In [69]:
import pickle
loaded_model=pickle.load(open('logistic','rb'))

In [70]:
X2 = df.drop(['fake?','job_requirements_filtered_tf_idf','company_information_filtered_tf_idf','job_description_filtered_tf_idf'],axis=1)
y2 = df['fake?']

In [71]:
%time loaded_model.predict(X2)
loaded_model.score(X2,y2)

CPU times: user 4.06 ms, sys: 0 ns, total: 4.06 ms
Wall time: 9.91 ms

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.9233896185115698

In [78]:
loaded_model=pickle.load(open('ADa Boosttttt','rb'))

In [79]:
loaded_model.predict(X2)
loaded_model.score(X2,y2)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but AdaBoostClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but AdaBoostClassifier was fitted without feature names
  warnings.warn(

0.9477798624140088

In [87]:
loaded_modelz=pickle.load(open('MLP','rb'))

In [91]:
loaded_modelz.predict(X2)
loaded_modelz.score(X2,y2)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but MLPClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but MLPClassifier was fitted without feature names
  warnings.warn(

0.8055034396497811

In [92]:
loaded_modelz=pickle.load(open('XGB','rb'))
loaded_modelz.predict(X2)
loaded_modelz.score(X2,y2)

0.9480925578486554